/* fgpForm.module.css */
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.form h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #4fc3f7;
}

.submitButton {
  background-color: #1900ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: #007bff;
}

.passwordOptions {
  margin-top: 10px;
}

.passwordOptions a {
  margin-right: 10px;
  text-decoration: none;
}

.passwordOptions span {
  color: #000;
}
