.rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 1.5rem;

  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rightside::-webkit-scrollbar {
  width: 6px;
}
.rightside::-webkit-scrollbar-thumb {
  background-color: var(--main-background);
  border-radius: 4px;
}
.rightside::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
