.titleOfHealthInfo {
  color: #333; /* or any preferred color */
  font-size: 24px; /* Adjust based on your preference */
  text-align: center; /* Aligns the text to the left */
  margin-bottom: 2rem; /* Adds a little space below the h1 */
  margin-top: 20px;
}

.overviewContainer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

/* Styles for the basic information part */
.basicInfoPart {
  background-color: var(--left-side);
  margin-right: 10px;
  width: 50%;
  height: 1000px;
}

/* Grid for health information */
.gridHealthInfo {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  margin-left: 30px;
}
.bmiCardCenter {
  display: flex;
  justify-content: center;
}

.bmiCard {
  width: 100%; /* Adjust the width as needed */
  max-width: 200px; /* Set a maximum width to prevent it from becoming too wide */
}
/* Human body 3D image */
.humanBody3DImage {
  margin-top: 20px;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .titleOfHealthInfo {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .overviewContainer {
    flex-direction: column; /* Stack the components vertically on small screens */
  }

  .basicInfoPart,
  .humanBody3DImage {
    width: 100%; /* Make both parts take up the full width on small screens */
    margin-right: 0; /* Remove right margin */
  }
}
